name: Build

on: [push]

env:
  BUILD_TYPE: MinSizeRel

jobs:

# === Web Assembly ===
  wasm:
    runs-on: ubuntu-latest

    steps:
    - uses: mymindstorm/setup-emsdk@v7

    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Build
      run: |
        cd build
        emcmake cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
        emcc --version
        echo "ENVIRONMENT VARIABLES"
        printenv
        echo "ENVIRONMENT VARIABLES END"
        cmake --build . --parallel --config $BUILD_TYPE
        cp html/export.html bin/index.html

    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'tic80-wasm'
        path: |
          build/bin/tic80.js
          build/bin/tic80.wasm
          build/bin/index.html
